<div *ngIf="client">
  <h2>Client {{client.name}} details</h2>
  <div>
    <label>Name:</label>
    <input [(ngModel)]="client.name" placeholder="Name">
    <br> <br>
    <label>Date of Birth:</label>
    <input [(ngModel)]="client.dateOfBirth" placeholder="Date of birth">
  </div>
  <div class="example-button-row">
  <button mat-raised-button color="accent" (click)="goBack()">Back</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
  <button mat-raised-button color="warn" (click)="delete()">Delete</button>
  </div>

</div>
